<nav>
  <a href='/alchemists/cauldronbender'>Cauldronbender DaviD</a>
  <a href='/schedule/saturday'>Jedi Jatin</a>
  <a href='/schedule/sunday'>Mahoujin David</a>
  <a href='/schedule/sunday'>Sorcerino Jen</a>
  <a class='nav' href='/locations'>all alchemists</a>
</nav>